[submodule "whisper.cpp"]
	path = whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "sherpa-onnx"]
	path = sherpa-onnx
	url = https://github.com/k2-fsa/sherpa-onnx.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
